{% extends 'header.html' %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load bootstrap5 %}

{% block content %}

<div class="container py-2">
    <h1> Compounds </h1>
    Search for existing compounds in the database below:
</div>

<div class = "container py-2">
    {% if filter %}
        <form action="" method="get" class="form form-inline" bound_css_class=''>
            {% csrf_token %}
            <div class="row align-items-end">
                <div class="col-4">
                    {% bootstrap_field filter.form.id layout='vertical' bound_css_class='' %}
                </div>
                <div class="col-4">
                    {% bootstrap_field filter.form.name layout='vertical' bound_css_class='' %}
                </div>
                <div class="col-4">
                    {% bootstrap_field filter.form.formula layout='vertical' bound_css_class='' %}
                </div>
            </div>
            {% bootstrap_button 'search' %}
        </form>
    {% endif %}
    <hr>
</div>

<div class = "container py-2">
    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <i class="bi-info-circle-fill"></i> 
        <div> &nbsp; Highlighted rows indicate private entries that are only visble to you and/or specific groups.</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% render_table table %}
    {% for format in view.export_formats %}
        <a href="{% export_url format %}" class="btn btn-primary", role="button"> download {{ format }}</a>
    {% endfor %}
</div>


{% endblock %}