pandas
psycopg2-binary
Django>=4.1.2
djangorestframework
preparenovonix
PyYAML
xlrd
django-extensions
django-mptt
idutils
whitenoise
model_bakery
django-guardian
django-bootstrap-v5
django-tables2
django-cleanup
python-magic
django-better-admin-arrayfield
django-crispy-forms
crispy-bootstrap5
django-bootstrap-datepicker-plus
django-filter
tablib
openpyxl
django-storages[azure]
django-override-storage
molmass
plotly
oauthlib>=3.2.1
pillow>=9.3.0
cryptography>=38.0.3
debugpy
