pandas
psycopg2-binary
django_jsoneditor
Django >= 1.9
djangorestframework
preparenovonix
PyYAML
xlrd
django-extensions
django-ipware
coreapi-cli
django-mptt
idutils
whitenoise
model_bakery
django-guardian
django-bootstrap-v5
django-tables2
django-cleanup
python-magic
django-better-admin-arrayfield
django-crispy-forms
crispy-bootstrap5
django-filter
tablib