<!-- device_specification.html -->
{% extends 'header.html' %}
{% load tag_allfields %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load bootstrap5 %}
{% load mptt_tags %}
{% load guardian_tags %}

{% block content %}

<div class="container py-4">

  <table width="100%">
    <tr>
      <td style="text-align:left" ><h4> {{ object.manufacturer }} </h4></td>
      <td style="text-align:center" ><h4> {{ object.serialNo }} </h4></td>
      <td style="text-align:right" ><h4> {{ object.manufactured_on }} </h4></td>
    </tr>
    </table>
</div>

<div class="card border-dark mb-3" style="max-width: 100%;">
  <div class="card-header"><h5>Batch details</h5></div>
  <div class="card-body">
    <b>Device Specification</b> 
    <br>
    <a href="{{ object.specification.get_absolute_url }}"><b>{{ object.specification }}</b></a>
    <br><br>
    <b>Batch/Serial Number</b> 
    <br>
    {{ object.serialNo }}
    <br><br>
    <b>Batch size</b> 
    <br>
    {{ object.batch_size }}
    <br><br>
    <b>Related experiments</b>
    <br>    
    <table class="table">
      <thead class= "thead-light">
        <tr>
          <th scope="col"> Batch sequence</th>
          <th scope="col">Experiment ID</th>
          <th scope="col"> Experiment name</th>
          <th scope="col"> Date</th>
          <th scope="col"> Device position</th>
        </tr>
      </thead>
      <tbody>
      {% for ed in object.experimentdevice_set.all %}
        <tr>
          <td>{{ ed.batch_sequence }}</td>
          <td ><a href="{{ ed.experiment.get_absolute_url }}">{{ ed.experiment.id }}</a></td>
          <td ><a href="{{ ed.experiment.get_absolute_url }}">{{ ed.experiment.name }}</a></td>
          <td>{{ ed.experiment.date }}</td>
          <td>{{ ed.device_position }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>

<div class="card border-dark mb-3" style="max-width: 100%;">
  <div class="card-header"><h5>Metadata</h5></div>
  <div class="card-body">
    <table width="50%">
      <tr><td><b>Manufacturing Protocol:</b></td><td>{{ object.manufacturing_protocol }} </td></tr>
      <tr><td><b>Owner:</b></td><td>{{ object.user_owner }} </td></tr>
      <tr><td><b>Created:</b></td><td>{{ object.created_on }} </td></tr>
      <tr><td><b>Modified:</b></td><td>{{ object.modified_on }} </td></tr>
      <tr><td><b>ID:</b></td><td>{{ object.id }} </td></tr>
      <tr><td><b>Status:</b></td><td>{{ object.status }} </td></tr>
      <tr><td><b>Notes:</b></td><td>{{ object.notes }} </td></tr>
      <tr><td><b>Attributes:</b></td><td>{{ object.attributes }} </td></tr>
    </table>
  </div>

  {% get_obj_perms request.user for object as "object_perms" %}
  {% if "change_batch" in object_perms %}
    </div>
    <a href="/battDB/batches/edit/{{ object.pk }}" class="btn btn-warning", role="button"> Edit entry</a>
    <a href="/battDB/batches/delete/{{ object.pk }}" class="btn btn-danger", role="button"> Delete entry</a>
  </div>
  {% endif %}

</div>


{% endblock %}
