{% extends 'header.html' %}
{% load bootstrap5 %}
{% bootstrap_javascript %}


{% block content %}
<div class="container py-4">
    <h1> New Protocol </h1>
    Just words
    <div> </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {% bootstrap_field form.name layout='vertical' %}
            </div>
            <div class="col-6">
                {% bootstrap_field form.type layout='vertical' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.description layout='vertical' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.notes layout='vertical' show_help=False%}
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-4">
                <div class=float-end>
                    {% bootstrap_field form.make_public layout='vertical' show_help=True %}
                </div>
            </div>
            <div class="col-2">
                    <div class=float-end>
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                    {% endbuttons %}
                </div>
            </div>
            
        </div>
    </form>
</div>
{% endblock %}