{% extends 'header.html' %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load bootstrap5 %}

{% block content %}

<div class="container py-2">
    <h1> Parsers </h1>
    Search for parsers below. Click on a parser for more information about which columns it handles from the raw data
    files.
</div>

<div class="container py-2">
    {% if filter %}
    <form action="" method="get" class="form form-inline" bound_css_class=''>
        <div class="row align-items-end">
            <div class="col-3">
                {% bootstrap_field filter.form.name layout='vertical' bound_css_class='' %}
            </div>
            <div class="col-3">
                {% bootstrap_field filter.form.status layout='vertical' bound_css_class='' %}
            </div>
        </div>
        {% bootstrap_button 'search' %}
    </form>
    {% endif %}
    <hr>
</div>

<div class="container py-2">
    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <i class="bi-info-circle-fill"></i>
        <div> &nbsp; Highlighted rows indicate private entries that are only visble to you and/or specific groups.</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% render_table table %}
    {% for format in view.export_formats %}
    <a href="{% export_url format %}" class="btn btn-primary" , role="button"> download {{ format }}</a>
    {% endfor %}
</div>

{% if not user.is_authenticated %}
<div class="container py-2">
    <p class="text-center">Not seeing everything you expect? <a href="/accounts/login/">Login</a> to access your private
        entries.</p>
</div>
{% endif %}

{% endblock %}