{% extends 'header.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container py-5">
    <h1> New Device Specification </h1>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {% bootstrap_field form.name layout='vertical' %}
            </div>
            <div class="col-6">
                {% bootstrap_field form.device_type layout='vertical' %}
            </div>
        </div>
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}