{% extends 'header.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

{% block content %}
<!--Register-->
<div class="container py-5">
  <h1>Register</h1>
  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    {% endbuttons %}
  </form>
  {% if SETTING_TYPE == "liionsden.settings.azure" %}
  <p>view our <a href={{PRIVACY_NOTICE_SAS_URL}} target="_blank">privacy
      notice</a>.</p>
</div>
{% endif %}
{% endblock %}