<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Liionsden Database</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="browseDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Browse data</a>
                    <ul class="dropdown-menu" aria-labelledby="browseDropdown">
                        <li><a class="dropdown-item" , href="/battDB/exps" data-bs-toggle="tooltip" title="Battery cycling experiments with associated cycler data">Experiments</a></li>
                        <li><a class="dropdown-item" , href="/battDB/batches" data-bs-toggle="tooltip" title="Batches of devices">Batches</a></li>
                        <li><a class="dropdown-item" , href="/battDB/devices" data-bs-toggle="tooltip" title="Details about a cell or module">Device specifications</a></li>
                        <li><a class="dropdown-item" , href="/battDB/equipment" data-bs-toggle="tooltip" title="Battery cyclers and other equipment">Equipment</a></li>
                        <li><a class="dropdown-item" , href="/dfndb/components data-bs-toggle="tooltip" title="Components that make up cells - cathodes, anodes..."">Components</a></li>
                        <li><a class="dropdown-item" , href="/dfndb/compounds" data-bs-toggle="tooltip" title="Chemical compounds that make up components">Compounds</a></li>
                    </ul>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="addDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Add data</a>
                    <ul class="dropdown-menu" aria-labelledby="addDropdown">
                        <li><a class="dropdown-item" , href="/battDB/new_experiment" data-bs-toggle="tooltip" title="Battery cycling experiments with associated cycler data"> Experiment</a></li>
                        <li><a class="dropdown-item" , href="/battDB/new_batch" data-bs-toggle="tooltip" title="Batches of devices">Batch</a></li>
                        <li><a class="dropdown-item" , href="/battDB/new_device" data-bs-toggle="tooltip" title="Details about a cell or module">Device specification</a></li>
                        <li><a class="dropdown-item" , href="/battDB/new_equipment" data-bs-toggle="tooltip" title="Battery cyclers and other equipment">Equipment</a></li>
                        <li><a class="dropdown-item" , href="/dfndb/new_component" data-bs-toggle="tooltip" title="Components that make up cells - cathodes, anodes...">Component</a></li>
                        <li><a class="dropdown-item" , href="/dfndb/new_compound" data-bs-toggle="tooltip" title="Chemical compounds that make up components">Compound</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/accounts/logout">Logout</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login">Login</a>
                </li>

                {% endif %}


            </ul>
        </div>
    </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>