{% include 'inc.html' %}

{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
{% block head %}
{% endblock %}
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            Hi {{ user.username }}
            <a href="accounts/logout">logout</a>
        {% else %}
            <a href="accounts/login">login</a>
        {% endif %}   
        <h1><a href="/">The Faraday Institution - LiIonsDen Electrochemistry Database</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">

            {% block content %}
            {% endblock %}

            </div>
        </div>
    </div>
</body>
</html>
