{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script src="/static/js/django_better_admin_arrayfield.min.js"></script>
  <script src="/static/admin/js/jquery.init.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/static/js/jquery.formset.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link href="/static/css/django_better_admin_arrayfield.min.css" type="text/css" media="all" rel="stylesheet">
  <link href="/static/admin/css/widgets.css" type="text/css" media="all" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="/static/css/custom.css" type="text/css" media="all" rel="stylesheet">
</head>

<body>

  {% include 'includes/navbar.html' %}

  <div class="container py-3">

    {% block content %}

    {% endblock %}

  </div>
</body>

</html>
