{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/js/django_better_admin_arrayfield.min.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
  </head>
 
  <body>

    {% include 'includes/navbar.html' %}

    <div class="container py-3">
    
      {% block content %}

      {% endblock %} 
      
    </div>
  </body>
</html>