<!-- experimentData.html -->
{% extends 'base.html' %}
{% load tag_allfields %}

{% block content %}
<div>
  <h2>View Data: <b>{{ object }}</b></h2>
   <p> {{ object.ranges.count }} defined data ranges for this file</p>
   <h3>Ranges:</h3>
   <ul>
   {% for cycle in object.ranges.all %}
    <li><a href="{% url 'viewDataRange' cycle.id %}">{{ cycle }}</a></li>
   {% endfor %}
   </ul>
  <h3>Raw File</h3>
  <p><a href="{{ object.raw_data_file.url }}">{{ object.raw_data_file }}</a></p>
  <h3> Plot: </h3>
  {{mplot|safe}}
  <h3>Data</h3>
  <pre>{{ dataHead }}</pre>
  <table>
  
  <h3>Metadata JSON:</h3>
  <p>{{object.metadata}}</p>

</div>

{% endblock %}
